.vs/DailyPractice/v15/ipch/35e4c5256b90989b.ipch
.vs/DailyPractice/v15/Browse.VC.db
.vs/DailyPractice/v15/.suo
.vs/DailyPractice/v15/Browse.VC.opendb
DailyPractice/x64/Debug/
x64/Debug/
.vs/DailyPractice/v15/ipch/fdda30b54a4cac04.ipch
.vs/DailyPractice/v15/ipch/AutoPCH/830f0c9e8e69ce0a/PCH.ipch
packages/
PracticeTest/x64/Debug/
.vs/
CS_DailyPractice/obj/Debug/CS_DailyPractice.csproj.CoreCompileInputs.cache
CS_DailyPractice/obj/Debug/CS_DailyPractice.csprojAssemblyReference.cache
CS_DailyPractice/obj/Debug/
DailyPractice/x64/Release/
CS_DailyPractice/obj/Release/CS_DailyPractice.csprojAssemblyReference.cache
CS_DailyPractice/obj/Release/
DailyPractice/Debug/
DailyPractice/boost/
TestIgnore.txt
